

services:
  pgadmin:
    image: dpage/pgadmin4:latest
    restart: always
    container_name: pgadmin-container
    expose:
      - 80
    env_file: .env
    networks:
      - db_network
      - traefik_network
    labels:
      - "traefik.enable=true"  # Activer Traefik pour ce service
      - "traefik.docker.network=traefik_network"
      - "traefik.http.services.pgadmin.loadbalancer.server.port=80"
      - "traefik.http.routers.pgadmin.service=pgadmin"
      - "traefik.http.routers.pgadmin.rule=Host(`${PGADMIN_HOST}`)"  # Règle de routage
      - "traefik.http.routers.pgadmin.entrypoints=websecure"  # Points d'entrée
      - "traefik.http.routers.pgadmin.tls.certresolver=myresolver"  # Résolveur de certificats


networks:
  db_network:
    name: db_network
    external: true
  traefik_network:
    name: traefik_network
    external: true
